@charset "UTF-8";
img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

h1 {
    font-size: x-large;
}

h5 {
    font-size: medium;
}

button {
    min-width: 100px;
    min-height: 50px;
}

html,
body {
    height: 100%;
    font-size: medium;
}

section {
    width: auto;
    height: auto;
    border: 1px solid red;
    display: grid;
    justify-content: center;
}

.container {
    min-width: 450px;
    min-height: 800px;
    max-height: 800px;
    overflow: auto;
    color: #fff;
    background: #4C4B4B;
    padding: 30px;
    display: inline-block;
    border-radius: 25px;
    border: 2px solid #A3A7A2;
}

.container-row {
    padding: 10px;
    border-radius: 25px;
}

a {
    color: #2CD34B;
}

a:hover {
    color: #08fc35;
    text-decoration: underline;
}

tr {
    padding: 10px;
}